body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dad2d2; /* Set the background color of the page */
    color: #fff; /* Set default text color to white */
}

.container {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

input[type="text"], select, input[type="button"] {
    margin: 5px 0;
    padding: 5px;
    color: #fff; /* Set text color to white */
    background-color: #333; /* Set background color for input fields */
    border: none;
    border-radius: 4px;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}
